code {
	font-size: 0.875em;
	background-color: var(--white);
	border: 1px solid var(--primary-color);
	border-radius: 2px;
	padding: .15rem .25rem;

	a {
		border-bottom: none;
		color: var(--primary-color);

		&:hover {
			color: var(--text-color);
		}
	}
}

pre {
	background: var(--white);
	margin-block-end: 1.6em;
	overflow-x: auto;
	padding: var(--spacer);
}

pre code {
	background-color: initial;
	border: none;
	color: var(--primary-color);
	padding: 0;
}