p {
	font-size: clamp(
		var(--fluid-type-min),
		calc(1rem + var(--fluid-type-target)),
		var(--fluid-type-max)
	);
	line-height: 1.45;
	margin-block-end: .25rem;
}

p {
	--fluid-type-min: 0.85rem;
	--fluid-type-max: 1.3rem;
	--fluid-type-target: .5vw;
}

dfn, cite, em, i {
	font-style: italic;
}

kbd, tt, var {
	font-size: 0.875em;
}

abbr
acronym {
	background-color: var(--white);
	border: 1px solid var(--primary-color);
	border-radius: 2px;
	box-shadow: 3px 3px 0 var(--primary-color);
	padding: .15rem .25rem;
}

abbr, acronym {
	cursor: help;
}

mark, ins {
	text-decoration: none;
}

big {
	font-size: 125%;
}
