*~
.DS_Store
.buildpath
.project
.settings
*.sass-cache/
*.sublime*
db/
docs/
backups/
webroot/
.htaccess
wp-content/themes/*/compass_app_log.txt
wp-content/uploads
wp-content/w3tc
wp-content/avatars
wp-content/cache
local-config.php
.buildpath
.project
.settings
db
docs/
*~
.DS_Store
/.gitattributes
wp-content/debug.log
wp-content/themes/*/codekit-config.json
wp-content/uploads/*.jpg
wp-content/uploads/*.png
wp-content/uploads/*.gif
wp-content/uploads/*.svg