# Generic Stuff we just never want in a repo #
*.DS_Store
*/.sass-cache/
*/.sass-cache/*
*.scssc
#*.sql
*Thumbs.db

#======= WordPress =======#


# sitemaps #
sitemap.xml
sitemap.xml.gz

#

# ignore node/grunt dependency directories
*/node_modules/