.callout {
	@include card();
	font-size: 1rem;
	margin-bottom: var(--spacer-large);
}

.callout__content {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding: var(--spacer-small);
	text-align: center;

	@media #{$pond} {
		align-items: space-between;
		flex-direction: row;
		text-align: left;
	}
}

.callout__image {
	flex-basis: 220px;
	order: 1;
}

.callout__heading {
	font-size: clamp(2em, 3.5vw, 5.75em);
	order: 1;
	text-transform: uppercase;
}

.callout:nth-child(odd) {

	.callout__image {
		@media #{$pond} {
			margin-right: var(--spacer);
		}
	}
}

.callout:nth-child(even) {
	
	.callout__image {
		order: 2;
	}

	.callout__heading {
		margin-right: var(--spacer);
	}
}