.callout {
	background-color: var(--white);
	border: 10px solid var(--base-color);
	font-size: 1rem;
	margin-bottom: var(--spacer);
	padding: var(--spacer-small);
	position: relative;

	&:before {
		content: "";
		background-color: var(--base-color);
		height: 100%;
		position: absolute;
			top: var(--spacer-small);
			left: var(--spacer-small);
		width: 100%;
		z-index: -1;
	}
}

.callout__content {
	text-align: center;

	@media #{$pond} {
		align-items: center;
		display: grid;
		gap: var(--spacer);
		grid-template-columns: minmax(150px, 220px) auto;
		grid-template-rows: auto;
		text-align: left;
	}

	@media #{$lake} {
		gap: calc( var(--spacer-large) - 10px );
		padding: 1em;
	}
}

.callout__image {
	max-width: 220px;
}

.callout__heading {
	font-size: clamp(2em, 4vw, 6em);
	text-transform: uppercase;
}