@mixin card( $bg: var(--white), $border: var(--base-color), $shadow: var(--base-color) ) {
	background-color: $bg;
	border: 15px solid $border;
	box-shadow: var(--spacer-small) var(--spacer-small) 0 $shadow;
	padding: var(--spacer-small);
	position: relative;
}

.card {
	@include card();
	font-size: 1rem;
	margin-bottom: var(--spacer-large);
}

.card__content {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: var(--spacer-small);
	text-align: left;
}

.card__image {
	width: clamp(30%, 300px, 50%);
	order: 1;
}

.card__heading {
	--font-variation-display: "CASL" .05, "CRSV" 1, "MONO" .25, "wght" 800, "slnt" -25;
	font-size: 2rem;
	line-height: 1.1;
	order: 1;

	@media #{$pool} {
		font-size: 2.5em;
	}

	@media #{$pond} {
		font-size: 3.5em;
	}
}

.card:nth-child(odd) {

	.card__image {
		margin-right: var(--spacer-small);

		@media #{$pond} {
			margin-right: var(--spacer);
		}
	}
}

.card:nth-child(even) {
	
	.card__image {
		order: 2;
	}

	.card__heading {
		margin-right: var(--spacer-small);

		@media #{$pond} {
			margin-right: var(--spacer);
		}
	}
}