@mixin card( $bg: var(--white), $border: var(--base-color), $shadow: var(--base-color) ) {
	background-color: $bg;
	border: 15px solid $border;
	// box-shadow: var(--spacer-small) var(--spacer-small) 0 $shadow;
	position: relative;

	&:after {
		background-image: radial-gradient($border 35%, transparent 35%);
		background-size: 8px 8px;
		content: "";
		height: 100%;
		position: absolute;
		left: 2rem;
		top: 2rem;
		width: 100%;
		z-index: -1;
	}
}

.card {
	@include card();
	font-size: 1rem;
	margin-bottom: var(--spacer-large);
}

.card:last-child {
	margin-bottom: 0;
}

.card__content {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: var(--spacer);
	text-align: left;
}

.card__image {
	width: clamp(15%, 300px, 25%);
	order: 1;
}

.card__heading {
	--font-variation-display: "CASL" .05, "CRSV" 1, "MONO" .25, "wght" 800, "slnt" -25;
	font-size: 2rem;
	line-height: 1.1;
	order: 1;

	@media #{$pool} {
		font-size: 2.5em;
	}

	@media #{$pond} {
		font-size: 2.75em;
	}
}

.card:nth-child(odd) {

	.card__image {
		margin-right: var(--spacer-small);

		@media #{$pond} {
			margin-right: var(--spacer);
		}
	}
}

.card:nth-child(even) {
	
	.card__image {
		order: 2;
	}

	.card__heading {
		margin-right: var(--spacer-small);

		@media #{$pond} {
			margin-right: var(--spacer);
		}
	}
}