.comments h2 {
  display: inline-block;
  margin-block-start: 0;
  position: relative;
  inset-block-start: .5rem;
}

.comments__list {
  list-style: none;
  margin-trim: block;
  padding-inline-start: 0;
}

.comments .comment {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  margin-block: var(--spacer);
  padding: var(--spacer);
}

.comment__meta {
  font-size: var(--font-size-small);
}

.comment-reply-title small {
  display: block;
  font-size: var(--font-size-small);
}

.comment-reply-link,
.feature-comments {
  @extend .button;
}

.comment .children {
  padding-inline-start: 0;
  list-style: none;

  .comment-reply-link,
  .feature-comments {
    background-color: var(--white);

    &:hover,
    &:focus {
      color: var(--primary-color);
    }
  }
}

.comment .children .comment {
  background-color: var(--gray-lightest);
}

.comment-form .logged-in-as {
  @extend .notice;
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}

.required-field-message {
	display: none;
}

.comment-form-cookies-consent {
  font-size:   var(--font-size-small);
}

.comment-form-comment label {
  font-size: var(--font-size-small);
}

.form-submit small {
  font-size: var(--font-size-small);
  margin-inline-start: var(--spacer-small);
}

.reaction-list h2 {
  display: block;
}

.feature-burry-comments {
  display: inline-block;
}

/* IndieWeb likes */
.reaction-list {
  padding-inline-start: 0;
}