.comments h2 {
  display: inline-block;
  margin-block-start: 0;
  position: relative;
  inset-block-start: .5rem;
}

.comments__list {
  list-style: none;
  margin-trim: block;
  padding-inline-start: 0;
}

.comments .comment {
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  margin-block: var(--spacer);
  padding: var(--spacer);
}

.comment__meta {
  font-size: 70%;
}

.required-field-message {
	display: none;
}

.comment-form-cookies-consent {
  font-size: 70%;
}

.form-submit small {
  font-size: 70%;
  margin-inline-start: var(--spacer-small);
}