textarea {
	display: block;
  font-size: var(--font-size-small);
  max-inline-size: 100%;
  padding: calc(var(--spacer-small) / 2);

  &:focus {
    border-color: var(--primary-color);
    outline-color: var(--primary-color);
  }
}