:is(
  ::-webkit-calendar-picker-indicator,
  ::-webkit-clear-button,
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button
) {
  accent-color: var(--primary-color);
}

input[type="text"],
input[type="email"]
input[type="url"]
textarea {
  border: 1px solid var(--gray-dark);
  display: block;
  font-size: var(--font-size-small);
  max-inline-size: 50ch;
  padding: calc(var(--spacer-small) / 2);
}