:is(
  ::-webkit-calendar-picker-indicator,
  ::-webkit-clear-button,
  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button
) {
  accent-color: var(--primary-color);
}

input:is(
  [type="text"],
  [type="email"],
  [type="url"]
),
textarea {
  border: 1px solid light-dark(var(--gray-dark), var(--white));
  display: block;
  width: calc(min(100%, 50ch));
  padding: calc(var(--spacer-medium) / 2);
}

label {
  display: block;
}

.gform_legacy_markup_wrapper div.validation_error,
.gform_legacy_markup_wrapper div li.gfield.gfield_error {
  background: var(--white) !important;
  padding: var(--spacer-medium);
}