img {
	height: auto; /* Make sure images are scaled correctly. */
	width: 100%;
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

.codepen-logo path,
.toilet-logo path {
	@media (prefers-color-scheme: dark) {
		fill: var(--white);
	}
}