.site-navigation {
	margin-top: .5em;
	
	@media #{$pool} {
		align-self: center;
		margin-top: 0;
	}

	@media #{$lake} {
		align-self: flex-start;
	}
}

.navigation__primary ul,
.navigation__social ul {
	margin: 0;
	padding-left: 0;

	@media #{$pool} {
		display: flex;
	}

	@media #{$lake} {
		display: block;
		margin: 2em 0 1em;
	}
}

.navigation__primary li,
.navigation__social li {
	display: inline;
	font-size: var(--font-size-medium);
	line-height: $line-height;

	@media #{$lake} {
		display: block;
		font-size: calc( var(--font-size-large - 2) );
	}

	a {
		border: 0;
		color: var(--text-color);
		min-height: 48px;
		padding: .75em 1em .75em 0;
		text-decoration: none;
		min-width: 48px;
	}

	a:hover {
		color: var(--primary-color);
	}
}

.navigation__primary .current-menu-item a,
.navigation__social .current-menu-item a {
	color: var(--primary-color);
	font-weight: 800;

	@media #{$lake} {
		color: var(--text-color);
		font-weight: 500;
	}

	&:after {
		@media #{$lake} {
			content: " →";
			color: var(--primary-color);
		}
	}
}
.navigation__social {
	display: none;

	@media #{$lake} {
		display: block;
	}
}