.navigation__primary ul,
.navigation__social ul {
	margin: 0;
	padding-left: 0;

	@media #{$pool} {
		display: flex;
		gap: 1rem;
	}
}

.navigation__primary li,
.navigation__social li {
	display: inline;
	font-size: 1.15rem;
	font-variation-settings: var(--font-variation-display);
	line-height: var(--line-height);

	@media #{$bay} {
		display: block;
	}
}