.post-single {

  .nav-links {
    display: flex;
    gap: var(--spacer);
  }

  .post-title {
    @supports (animation-range: 0) {
      animation: fade-out linear both;
      animation-timeline: scroll();
      animation-range: 0 400px;
    }
  }

  .post-body p:first-of-type::first-letter {
    -webkit-initial-letter: 2;
    initial-letter: 2;
    margin: 0 .5ch 0 0;
  }
}