.post-single {
  &__body + hr {
    color: var(--gray-lighter);
    margin-inline-start: 0;
    width: 25%;
  }
  &__body:is(ul, ol) {
    margin-block: var(--spacer);
  }
  &__footer {
    display: grid;
    font-size: var(--font-size-small);
    gap: var(--spacer);
    margin-block: var(--spacer-large);
  }

  .nav-links {
    display: flex;
    gap: var(--spacer);
  }
}