.posts {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-small);
  margin-block-end: var(--spacer);
}

.posts .one-liner {
  background-color: light-dark(var(--white), var(--black));
  border-radius: 16px;
  corner-shape: squircle bevel;
  margin-block: var(--spacer-medium);
  padding: var(--spacer-medium);

  @media (prefers-color-scheme: light) {
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12)
  }

  @media (width > 60px) {
    border-radius: 50% / 1.1rem 0.5rem 0.9rem 0.7rem;
    corner-shape: squircle bevel;
  }

  .post-footer {
    display: flex;
    gap: var(--spacer);
    margin-block-start: var(--spacer-tiny);

    img {
      border-radius: 50%;
    }
  }
}

.posts-pagination {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  .dots {
    display: none;
  }
}

.posts .post {
  --kf-slide-distance: calc(var(--spacer) * -1);
  animation: slide-in ease-in both;
  animation-timeline: view();
  animation-range: entry 0% contain 10%;
  position: relative;
}

.post-header .post-title {
  text-grow: per-line scale;
}

.post-date {
  color: light-dark(var(--primary-color-dark), var(--primary-color));
  font-size: var(--font-size-tiny);
  text-transform: uppercase;
}