.statement {
	background-color: var(--base-color);
	color: var(--white);
	filter: 
		drop-shadow(5px 5px 0 var(--white))
		drop-shadow(5px 5px 0 var(--base-color));
	font-size: 1.25em;
	padding: var(--spacer-small);
	position: relative;
	text-align: center;
	transform: rotateX(5deg) skew(-9deg, -2deg) translateY(-10px);

	@media #{$pond} {
		font-size: 2em;
		padding: 25px var(--spacer);
	}

	@media #{bay} {
		filter: 
			drop-shadow(10px 10px 0 var(--white))
			drop-shadow(10px 10px 0 var(--base-color));
	}

	@media #{$ocean} {
		font-size: 2em;
		padding: var(--spacer);
	}

	&:before {
		@include triangle($size: var(--spacer-small));
		content: "";
		border-right-width: 0;
		position: absolute;
			top: 90%;
			left: 50%;

			@media #{$pond} {
				border-left-width: var(--spacer);
				border-right-width: var(--spacer-small);
				border-top-width: var(--spacer);
			}
	}
}