.statement {
	background-color: var(--base-color);
	color: var(--white);
	filter: 
		drop-shadow(10px 10px 0 var(--white))
		drop-shadow(10px 10px 0 var(--base-color));
	font-size: clamp(2.5em, 3.75vw, 8em);
	padding: var(--spacer);
	position: relative;
	text-align: center;
	transform: rotateX(5deg) skew(-9deg, -2deg);

	&:before {
		@include triangle();
		content: "";
		position: absolute;
			top: 100%;
			left: 50%;
	}
}

.statement {

	.home .slanted-container & {
		margin-bottom: var(--spacer-large);
	}
}