
.work-places {
	margin-bottom: -1rem;
	text-align: center;

	h3 {
		margin: 2rem 0 1rem;
	}

	h3 span {
		display: inline-block;
		position: relative;  

		&:before,
		&:after {

			@media #{$pool} {
				content: "";
				border-bottom: 3px solid var(--primary-color);
				height: 1px;
				position: absolute;
				top: .75em;
			}

			@media #{$pond} {
				width: 25%;
			}

			@media #{$ocean} {
				width: 50%;
			}
		}

		&:before {
			margin-right: 1em;
			right: 100%;
		}

		&:after {
			margin-left: 1em;
			left: 100%;
		}
	}
}

.work-places__items {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 75px;

	@media #{$pond} {
		grid-template-columns: repeat(4, 1fr);
	}
}

.work-places__item {
	@include box-shadow--alt();
	@include center-flex;
	@include font-size( .75 );
	background-color: var(--code-blocks);
	flex-direction: column;
	margin-bottom: .75em;
	padding: .75em;
	transition: all .15s;

	@media #{$pond} {
		flex: 1;
		padding: 1em;

		&:not(:last-child) {
			margin-right: 1em;
		}
	}

	&:hover {
		box-shadow: none;
		transform: translateY( 5px );
	}

	svg {
		margin-bottom: 1em;
		height: 70px;
		width: 70px;

		@media #{$pond} {
			height: 80px;
			width: 80px;
		}
	}

	a {
		@include font-size( .5 );
		border: 0;
		font-weight: 500;
	}
}