# BEGIN W3TC Page Cache cache
AddDefaultCharset UTF-8
FileETag MTime Size
<IfModule mod_mime.c>
    AddType text/html .html_gzip
    AddEncoding gzip .html_gzip
    AddType text/xml .xml_gzip
    AddEncoding gzip .xml_gzip
</IfModule>
<IfModule mod_setenvif.c>
    SetEnvIfNoCase Request_URI \.html_gzip$ no-gzip
    SetEnvIfNoCase Request_URI \.xml_gzip$ no-gzip
</IfModule>
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/html M3600
</IfModule>
<IfModule mod_headers.c>
    Header set X-Powered-By "W3 Total Cache/0.9.3"
    Header set Vary "Accept-Encoding, Cookie"
    Header set Pragma "public"
    Header append Cache-Control "public"
</IfModule>
# END W3TC Page Cache cache
