.button,
.button--secondary,
.wp-block-button__link,
.nav-next a,
.nav-previous a,
input[type='submit'],
.posts__pagination .prev,
.posts__pagination .next,
.comment-reply-link,
.feature-comments {
  background-color: light-dark(var(--primary-color-dark), var(--primary-color));
  border: 1px solid var(--black);
  border-radius: 12px;
  color: light-dark(var(--white), var(--black));
  corner-shape: squircle bevel;
  padding: var(--spacer-tiny) var(--spacer-small);
  text-decoration: none;
  transition: .15s;

  &:hover,
  &:focus {
    background-color: light-dark(var(--black), var(--white));
    color: light-dark(var(--white), var(--black));
    corner-shape: squircle;
  }
}