.button,
.button--secondary,
.wp-block-button__link,
.posts__pagination a,
.comment-reply-link,
input[type='submit'] {
	border: 2px solid #000;
	overflow-wrap: break-word;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: transform .25s ease-out;

	@media #{$pond} {
		padding: 20px 45px;
	}
	
	&:hover {
		cursor: pointer;
	}
}

.button,
.wp-block-button__link,
input[type='submit'] {
	

	&:hover,
	&:focus {}

	&:active {}
}

.button--secondary,
.posts__pagination a,
.comment-reply-link {

	&:hover,
	&:focus {}

	&:active {}
}