a {
	color: var(--text-color);
	text-decoration-color: var(--primary-color);
	text-decoration-thickness: .1em;
	text-underline-offset: 5px;
	transition: all .25s ease;

	&:hover {
		color: var(--link-hover);
		text-underline-offset: 2px;
	}
}