a {
	color: var(--text-color);
  font-weight: 600;
	text-decoration-thickness: 1px;
	text-underline-offset: 8px;
	transition: all .25s ease;

	&:hover,
	&:focus {
		color: var(--link-hover);
		text-underline-offset: 2px;
	}
}