ul, ol {
	margin: 1em 0 1.5em 0;
}

ul {
	list-style: square outside none;
}

ol {
	list-style: decimal;
}

li {
	margin-block-end: .5em;
}

li > ul,
li > ol {
	margin-block-end: 0;
	margin-inline-end: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}
