@mixin card( $bg: var(--white), $border: var(--base-color), $shadow: var(--base-color) ) {
	background-color: $bg;
	border: 15px solid $border;
	// box-shadow: var(--spacer-small) var(--spacer-small) 0 $shadow;
	position: relative;

	&:after {
		background-image: radial-gradient($border 35%, transparent 35%);
		background-size: 8px 8px;
		content: "";
		height: 100%;
		position: absolute;
		left: 2rem;
		top: 2rem;
		width: 100%;
		z-index: -1;
	}
}