// Common link styles
@mixin link {
	color: var(--text-color);
	background: linear-gradient(to right, var(--primary-color), var(--primary-color) 50%, var(--text-color) 50%);
	background-clip: text;
  background-size: 200% 100%;
	background-position: 100%;
	border-bottom: 1px solid var(--primary-color);
	box-decoration-break: clone;
	transition: all 275ms ease;
	-webkit-text-fill-color: transparent;

	&:hover {
    background-position: 0 100%;
  }
}