.error404 {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-between;
	margin: 0 auto;
	overflow: hidden;
}

.error404 .site-main {
	display: flex;
	flex-direction: column;
	height: 50vh;
	justify-content: center;
	text-align: center;

	h1 {
		font-size: 4rem;
	}

	h1 span {
		display: block;

		@media #{$lake} {
			display: inline;
		}
	}
}