.category-today-i-learned {

	.post-single {
		background: var(--background-alt);
		border-radius: 8px;
		margin-block-start: 3em;
		padding: 1rem;

		@media #{$pond} {
			padding: 2rem;
		}

		&:first-child {
			margin-block-start: none;
		}
	}

	.post-single__date {
		margin-top: 0;
	}

	.post-single__title {
		margin-top: 0;
	}
}