.category-today-i-learned {

	.post-single {
		background: var(--background-alt);
		border-radius: 8px;
		margin-block-start: 3em;
		padding: 1rem;

		@media #{$pond} {
			padding: 2rem;
		}

		&:first-of-type {
			margin-block-start: 0;
		}
	}

	.post-single__date {
		font-size: $font-size-small;
		margin-block-end: .5rem;
		margin-block-start: 0;
	}

	.post-single__title {
		margin-top: 0;
	}
}