.archive .post {
  margin-block-end: var(--spacer);
}

.category-one-liners {
  .post {
    border-block-end: 1px solid light-dark(#eaeaea, var(--white));
    margin-block-end: var(--spacer);
    padding-block-end: var(--spacer);
    padding-inline: var(--spacer-small);
  }
  .post__footer {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-block-start: var(--spacer-small);

    img {
      border-radius: 50%;
    }
  }
}