.home {

	.main-content {
		background: var(--gray-lightest);
		min-height: 100vh;
		position: relative;
		z-index: 1;

		@media #{$pond} {
			padding-top: 2em;
		}

		&:before {
			height: 0;
		}
	}
}

.home__logo svg {
	height: auto;
	margin-bottom: .5em;
}

.home__title {
	@include font-size( 2 );
	line-height: 1.2;

	@media #{$pool} {
		@include font-size( 2.25 );
	}
	
	span {
		display: block;
	}
}

.home__image img {
	@include box-shadow;
	border-radius: 15px;
	display: none;

	@media #{$pool} {
		display: block;
	}
}

.home__body {
	
	p {
		line-height: 1.65;
		margin-top: 0;

		@media #{$pond} {
			column-count: 2;
			column-fill: balance;
			column-gap: 1em;
		}
	}

	a {
		@include link;
	}
}