.home-intro {
	align-items: center;
	display: grid;
	gap: var(--spacer);
	grid-template-columns: minmax(100px, 100%) auto;
	justify-content: center;
	margin-bottom: var(--spacer-small);

	@media #{$pond} {
		margin-bottom: var(--spacer);
	}
}

.headshot-sunglasses {
	position: absolute;
	right: 29%;
	top: -1000px;
	transition: top .5s ease-out;
	width: 100px;
}

.headshot {
	justify-self: center;
	position: relative;

	@media #{$pond} {
		max-width: 250px;
	}

	&:hover {

		& .headshot-sunglasses {
			@media #{$pond} {
				top: 52px;
			}
		}
	}
}