blockquote {
  border-radius: 4px;
  margin-inline-start: 0;
}

.wp-block-quote {
  background-image: linear-gradient(to right, var(--yellow-mellow), transparent 80%);
	border-inline-start: 3px solid var(--orange);
	font-size: 110%;
  padding: var(--spacer-small);

  p {
    margin: 0;
  }

  cite {
    margin-block-start: var(--spacer-small);
  }
}

[data-theme="dark"] .wp-block-quote {
  background-image: none;
  padding-block: 0;
}