.wp-block-code {
  background: light-dark(var(--orange-light), var(--black));
  border: 1px solid light-dark(var(--primary-color), var(--white));
  border-radius: 4px;
  color: light-dark(var(--orange-dark), var(--white));
  font-size: var(--font-size-tiny);
  line-height: 1.75;
  padding: var(--spacer);
  position: relative;
  max-inline-size: fit-content;

  &::before {
    background-color: light-dark(var(--white), var(--black));
    border: 1px solid light-dark(var(--primary-color), var(--white));
    border-radius: 4px;
    content: "Code";
    height: 1lh;
    inset: -.75rem 0 0 .75rem;
    padding-inline: .75rem;
    position: absolute;
    text-transform: uppercase;
    width: max-content;
  }
}