.wp-block-code {
  background: var(--black);
  border: 1px solid light-dark(var(--primary-color), var(--white));
  border-radius: 4px;
  color: var(--white);
  font-family: 'Monaspace Krypton', monospace;
  line-height: 1.75;
  margin-block: var(--spacer-large);
  max-inline-size: fit-content;
  overflow-wrap: break-word;
  padding: var(--spacer-medium);
  position: relative;
  white-space: pre-wrap;

  &::before {
    background-color: var(--black);
    border: 1px solid light-dark(var(--primary-color), var(--white));
    border-radius: 4px;
    color: var(--white);
    content: "Code";
    height: 1lh;
    inset: -.75rem 0 0 .75rem;
    padding-inline: .75rem;
    position: absolute;
    text-transform: uppercase;
    width: max-content;
  }
}