.wp-code-block {
  background: var(--black);
  border-radius: 8px;
  box-shadow: inset 5px 0px 10px #000;
  color: #fff;
  font-size: 1rem;
  line-height: 1.75;
  padding: var(--spacer);
  max-inline-size: fit-content
}