figure {
  background: color-mix(in srgb, var(--primary-color), transparent 70%);
	border: 1px solid var(--primary-color);
  border-radius: 4px;
  margin-block: var(--spacer-large);
  padding: var(--spacer-medium);
  padding-block-end: 0;
  
  /* Scroll-driven animation */
  animation: slide-in-fade linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

figure img {
	margin-block-end: var(--spacer-small);
	max-width: 100%;
	height: auto;
}

/* override default WP block styles */
.wp-block-image figcaption {
	color: light-dark(var(--gray-dark), white);
	text-align: center;
}