:not(pre)>code[class*=language-],
pre[class*=language-] {
  background-image: linear-gradient(to bottom, var(--white), rgba(255,255,255, .15));
  border: 1px solid #eaeaea;
  margin-block: 2rem;
  padding: var(--spacer);
  
}

code[class*=language-],
pre[class*=language-] {
  font-family: logic-monoscript, mono;
  font-weight: 400;
  font-size: 1.2rem;
  font-style: normal;
}