html {
	background-color: var(--background);
	font-kerning: normal;
	font-size: 18px;
}

@supports (hanging-punctuation:first) {
	html {
		hanging-punctuation: first;
	}
}

body {
	color: var(--text-color);
	display: grid;
	font-family: var(--font-body);
	font-size: 150%;
	line-height: 1.35;
	min-height: 100vh;
	overflow-x: hidden;
	place-items: start center;
	position: relative;
}