*,
*:before,
*:after { 
	box-sizing: border-box;
}

html {
	background-color: var(--background);
	font-size: 20px;
}

body {
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	font-family: var(--font-body);
	line-height: 1.35;
	overflow-x: hidden;
	place-items: center start;
}