*,
*:before,
*:after { 
	box-sizing: border-box;
}

html {
	background-color: var(--background);
	font-size: 20px;

	&:before {
		content: "";
		border: 15px solid var(--primary-color);
		height: 100vh;
		pointer-events: none;
		position: fixed;
		width: 100vw;
		z-index: 2;
	}
}

body {
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	font-family: var(--font-body);
	justify-content: center;
	line-height: 1.6;
	overflow-x: hidden;
}
