.site-footer__nav {
	align-items: center;
	display: flex;

	ul li {
		font-size:  .85rem;
	}

	a {
		border: 0;
		line-height: 0;
	}
}

.site-footer__nav a:hover > svg ellipse:first-child {
	fill: var(--primary-color);
}