.site-header {
  background: var(--white);
  border-block-start: 10px solid var(--primary-color);
  border-block-end: 1px solid var(--gray-lighter);
  box-shadow: 0 2px 10px var(--gray-light);
  box-sizing: content-box;
  height: var(--spacer);
  inset-block-start: 0;
  padding-inline: var(--spacer-small);
  position: sticky;
}

.site-header__inner {
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.site-header__logo svg {
  margin-block-start: 5px;
	transition: all var(--anim-transition) ease-in;
	width: 75px;

	@media #{$lake} {
		width: auto;
	}
}

.site-header__logo svg:hover {
  transform: scale(1.2);
}