.site-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-header__logo {
	flex: 1;
}

.site-header__logo a {
	border: 0;
}

.site-header__logo svg {
	height: auto;
	max-width: 125px;
	transition: transform .25s ease-out;
	
	&:hover {
		transform: scale(1.1);
	}
}

.site-navigation {
	flex: 1;
}