.site-header {
  align-items: center;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
  background-image: linear-gradient(hsl(0 0% 0% / .15), transparent);

  @media (width > 600px) {
    padding-inline: 2rem;
  }
}

.site-logo {
  img {
    border-radius: 50%;
    inset-block-start: var(--spacer-tiny);
    position: relative;
    transition: var(--transition) ease-in;
    width: 75px;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.site-navigation {
  display: flex;
}