body {
  
  /* Targeting Safari and Chrome only;
     will break when Firefox adds support. */
  @supports (initial-letter: 2) or (-webkit-initial-letter: 2) {
    &::before, &::after {
      --grad: 
        radial-gradient(at 25%, 
            var(--primary-color), transparent 70%);
      --mask: var(--grad), var(--grad), var(--grad);

      content: '';
      height: 100dvh;
      inset: 0;
      mask: var(--mask);
      mask-composite: intersect;
      mix-blend-mode: soft-light;
      position: fixed;
      z-index: -1;
    }
    
    &::before {
      background: #000;
      filter: url(#f)
    }
    
    &::after {
      background: linear-gradient(90deg, light-dark(var(--purple), var(--purple-dark)), light-dark(var(--green), var(--green-dark)) 20%, var(--orange-dark));
    }
  }
}

.site-wrapper {
  padding: 1rem;
  container-type: inline-size;

  @media (width > 600px) {
    display: grid;
    grid-template-areas: ". main .";
    grid-template-columns: 1fr 55ch 1fr;
    padding: 2rem;
  }
}

.main-content {
  grid-area: main;
}