.main-content {
	background: var(--background);
	border-radius: 8px;
	box-shadow: 0 3px 25px rgba(0, 0, 0, .1);
	margin-block: var(--spacer);
	padding: var(--spacer) var(--spacer) var(--spacer-large);
}