.site-wrapper {
	background-color: var(--background);
}

.site-content {
	display: inline-block;
	margin: auto;
	padding: var(--spacer);
	position: relative;
	max-width: var(--site-width);

	@media #{$lake} {
		display: grid;
		grid-template-columns: 25% 75%;
		grid-template-areas: 
			"navigation main"
			". comments"
			". footer";
	}
}