.site-wrapper {
	background-color: var(--background);

	@media (prefers-color-scheme: light) {
		@include box-shadow--alt;
	}
}

.site-content {
	display: inline-block;
	margin: auto;
	padding: 2rem;
	position: relative;
	max-width: var(--site-width);

	@media #{$lake} {
		display: grid;
		grid-template-columns: 25% 75%;
		grid-template-areas: 
			"navigation main"
			". comments"
			". footer";
	}
}