:root {
	/* Color Palette */
	--red: hsl(0,98.2%,55.5%);
	--orange: hsl(16.1,98.2%,55.5%);
	--yellow: #ffe417;
	--yellow-mellow: hsl(10,27.3%,95.7%);
	--white: #fff;
	--black: hsl(238.2,53.1%,12.5%);

	/* Theme Colors */
	--primary-color: var(--orange);
	--accent-color: var(--yellow);
	--base-color: var(--black);

	/* Functional Colors */
	--text-color: var(--black);
	--background: var(--yellow-mellow);
	--site-title: var(--black);
	--border-color: var(--orange);
	--link-current: var(--white);
	--link-hover: var(--yellow);
	--code-blocks: var(--brown-darker);
	--table-background: var(--brown-lighter);
}