:root {
	--red: #fd1e1e;
	--orange: #fd5a1e;
	--yellow: #fdbe1e;
	--honey: #ffd99d;
	--brown-lightest: #cdbcae;
	--brown-lighter: #96887c;
	--brown-light: #6F6155;
	--brown: #4b4036;
	--brown-medium: #43382e;
	--brown-dark: #372d24;
	--brown-darker: #272019;
	--gray-lightest: #f7f2f1;
	--gray-lighter: #e8e3e1;
	--gray-light: #cabdb9;
	--gray: #b0a3a0;
	--gray-medium: #7d7472;
	--gray-dark: #615a58;
	--gray-darker: #463e3b;
	--gray-darkest: #221d1b;
	--white: #fff;
	--black: #000;

	--primary-color: var(--honey);
	--text-color: var(--white);
	--background: var(--brown-light);
	--site-title: var(--gray);
	--border-color: var(--honey);
	--link-current: var(--white);
	--link-hover: var(--yellow);
	--code-blocks: var(--brown-dark);
	--table-background: var(--brown-lighter);

	--site-width: 1440px;

	@media (prefers-color-scheme: dark) {
		--primary-color: var(--honey);
		--secondary-color: var(--brown-darker);
		--text-color: var(--white);
		--background: var(--brown-darker);
		--site-title: var(--gray);
		--border-color: var(--honey);
		--link-current: var(--white);
		--link-hover: var(--yellow);
		--code-blocks: var(--brown-light);
		--table-background: var(--brown-lighter);
	}
}