@font-face {
  font-family: 'Monaspace Krypton';
  src: url('../fonts/MonaspaceKrypton-SyntaxHighlighter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}