:root {
	--font-primary: Recursive;
	
	--font-body: var(--font-primary);
	--font-display: var(--font-primary);
	--font-code: var(--font-primary);

	--font-variation-casual: "CASL" .55, "CRSV" 1, "MONO" .25, "wght" 500, "slnt" -5;
	--font-variation-display: "CASL" .05, "CRSV" 1, "MONO" .25, "wght" 800, "slnt" -5;
	--font-variation-code: "CASL" 1, "CRSV" 1, "MONO" .100, "wght" 800, "slnt" 0;

	--font-size-small: 14px;
	--font-size-medium: 18px;
	--font-size-large: 22px;

	--line-height: 1.5;
}